<div class="container">
  <div class ="center-container">
    <h1>Sélection aléatoire de jeux</h1>
  </div>

  <div class="filters">
    <mat-form-field>
      <mat-label>Complexité min</mat-label>
      <mat-select [(value)]="minComplexity">
        <mat-option *ngFor="let opt of complexityOptions" [value]="opt">
          {{ opt }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Complexité max</mat-label>
      <mat-select [(value)]="maxComplexity">
        <mat-option *ngFor="let opt of complexityOptions" [value]="opt">
          {{ opt }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Durée min (minutes)</mat-label>
      <input matInput type="number" [(ngModel)]="minPlayingTime" placeholder="Ex: 30">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Durée max (minutes)</mat-label>
      <input matInput type="number" [(ngModel)]="maxPlayingTime" placeholder="Ex: 120">
    </mat-form-field>

    <!-- Boutons -->
    <div class="buttons">
      <button mat-raised-button (click)="openGameForm()">Nouveau Jeu</button>
      <button mat-raised-button (click)="selectRandomGame()">Sélection Aléatoire</button>
      <button mat-raised-button (click)="validateGameSelection()">Valider le Jeu</button>
      <button mat-raised-button (click)="addSessionForSpecificGame()">Ajouter une partie</button>
    </div>
  </div>

  <div *ngIf="selectedGame" class="selected-game">
    <h2>Jeu sélectionné : </h2>
    <h3 class="highlight">{{ selectedGame.name }}</h3>
  </div>
</div>
